<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
<img class="animation__wobble" src="dist/img/bonat.png" alt="bonat logo" height="60" width="60">
</div>