<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row mb-2 content-header">
          <div class="col-md-3 m-0">
            <button
              type="button"
              class="btn btn-default dropdown-toggle dropdown-icon col-sm-3"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Show {{ paginationLimit }}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="paginate(5)">5</a>
              <a class="dropdown-item" (click)="paginate(25)">25</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <table
              id="Campaign-list"
              class="table table-bordered table-hover dataTable dtr-inline"
              aria-describedby="Campaign list of selected merchant"
            >
              <thead>
                <tr>
                  <th
                    class="sorting sorting_asc"
                    tabindex="0"
                    aria-controls="example2"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Rendering engine: activate to sort column descending"
                  >
                    Device Id
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="arName"
                    rowspan="1"
                    colspan="1"
                    aria-label="Browser: activate to sort column ascending"
                  >
                    Activation Code
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="enName"
                    rowspan="1"
                    colspan="1"
                    aria-label="Browser: activate to sort column ascending"
                  >
                    Pos Id Device
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="description"
                    rowspan="1"
                    colspan="1"
                    aria-label="Platform(s): activate to sort column ascending"
                  >
                    POS Device Name
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="createdAt"
                    rowspan="1"
                    colspan="1"
                    aria-label="Platform(s): activate to sort column ascending"
                  >
                    Created At
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="createdAt"
                    rowspan="1"
                    colspan="1"
                    aria-label="Platform(s): activate to sort column ascending"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let device of devices" (click)="open(device.id)">
                  <td class="dtr-control sorting_1" tabindex="0">
                    {{ device.id }}
                  </td>
                  <td>{{ device.activationCode }}</td>
                  <td>{{ device.integrationId }}</td>
                  <td>to be set</td>
                  <td>{{ device.createdAt }}</td>
                  <td><a style="cursor: pointer">Integrate</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="dataTables_info" role="status" aria-live="polite">
                Showing
                {{
                  paginationLimit > totalNumberOfDevices
                    ? totalNumberOfDevices
                    : paginationLimit
                }}
                device of {{ totalNumberOfDevices }} devices
              </div>
            </div>
            <div class="col-md-7">
              <div class="dataTables_paginate paging_simple_numbers">
                <ngb-pagination
                  class="d-flex justify-content-end"
                  [collectionSize]="totalNumberOfDevices"
                  [(page)]="currentPage"
                  [pageSize]="paginationLimit"
                  [maxSize]="5"
                  (pageChange)="paginate(paginationLimit, currentPage)"
                ></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
