<div class="row">
  <div class="col-sm-2">
    <div class="info-box mb-3">
      <div class="info-box">
        <span class="elevation-1">
          <span class="info-box-text">Merchant Image</span>
          <img src="{{ merchant?.imageUrl }}" alt="{{ merchant?.name }}" />
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="info-box mb-3">
      <div class="info-box-content">
        <span class="info-box-text">Merchant Name</span>
        <span class="info-box-text">
          {{ merchant?.name }}
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="info-box mb-3">
      <div class="info-box-content">
        <span class="info-box-text">Merchant Category</span>
        <span class="info-box-text">{{ merchant?.category?.name }}</span>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="info-box mb-3">
      <div class="info-box-content">
        <span class="info-box-text">Pos Type</span>
        <span class="info-box-text">{{ merchant?.pos?.type }}</span>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="info-box mb-3">
      <div class="info-box-content">
        <span class="info-box-text">Integration Id</span>
        <span class="info-box-number">112233433</span>
      </div>
    </div>
  </div>
</div>
