<div class="modal-header">
  <h4 class="modal-title">Add Branch</h4>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form #addBranchDto="ngForm">
    <div class="card-body">
      <div class="form-group">
        <label for="enName">English Name</label>
        <input
          type="text"
          class="form-control"
          id="enName"
          name="enName"
          placeholder="Enter Branch English Name"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="arName">Arabic Name</label>
        <input
          type="text"
          class="form-control"
          id="arName"
          name="arName"
          placeholder="Enter Branch Arabic Name"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="managerName">Manager Name</label>
        <input
          type="text"
          class="form-control"
          id="managerName"
          name="managerName"
          placeholder="Enter Manager Name"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="managerPhoneNumber">Manager Phone</label>
        <input
          type="string"
          class="form-control"
          id="managerPhoneNumber"
          name="managerPhoneNumber"
          placeholder="Enter Manager Phone"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="enDistrict">District</label>
        <input
          type="text"
          class="form-control"
          id="enDistrict"
          name="enDistrict"
          placeholder="Enter District Name"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="arDistrict">District Arabic Name</label>
        <input
          type="text"
          class="form-control"
          id="arDistrict"
          name="arDistrict"
          placeholder="Enter District Arabic Name"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input
          type="number"
          class="form-control"
          id="latitude"
          name="latitude"
          placeholder="Enter Latitude"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input
          type="number"
          class="form-control"
          id="longitude"
          name="longitude"
          placeholder="Enter longitude"
          ngModel
          required
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-default"
    data-dismiss="modal"
    (click)="activeModal.dismiss('Cross click')"
  >
    Close
  </button>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="addBranch(addBranchDto.value)"
  >
    Save changes
  </button>
</div>
