<div class="row mb-2 content-header">
  <div class="col-md-6">
    <h1 class="m-0">Branch Information</h1>
  </div>
  <div class="col-md-6">
    <ol class="float-sm-right">
      <button
        type="button"
        class="btn btn-default dropdown-toggle dropdown-icon"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        Action
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item">Edit</a>
      </div>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <div class="info-box mb-3">
      <div class="info-box-content">
        <span class="info-box-text">Merchant Name Ar</span>
        <span class="info-box-text">
          {{ merchant?.arName || 'not set yet' }}
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="info-box mb-3">
      <div class="info-box-content">
        <span class="info-box-text">Merchant Email</span>
        <span class="info-box-text">{{ merchant?.email }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2 content-header">
  <div class="col-md-6">
    <h1 class="m-0">Devices</h1>
  </div>
</div>

<app-device-list></app-device-list>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
