<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
  <div class="row">
    <div class="col-sm-12">
      <table
        id="example2"
        class="table table-bordered table-hover dataTable dtr-inline"
        aria-describedby="example2_info"
      >
        <thead>
          <tr>
            <th
              class="sorting sorting_asc"
              tabindex="0"
              rowspan="1"
              colspan="1"
              aria-sort="ascending"
              aria-label="Rendering engine: activate to sort column descending"
            >
              Id
            </th>
            <th
              class="sorting sorting_asc"
              tabindex="0"
              aria-controls="example2"
              rowspan="1"
              colspan="1"
              aria-sort="ascending"
              aria-label="Rendering engine: activate to sort column descending"
            >
              Name
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="example2"
              rowspan="1"
              colspan="1"
              aria-label="Platform(s): activate to sort column ascending"
            >
              POS
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="example2"
              rowspan="1"
              colspan="1"
              aria-label="Browser: activate to sort column ascending"
            >
              Category
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="example2"
              rowspan="1"
              colspan="1"
              aria-label="Browser: activate to sort column ascending"
            >
              Created At
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let merchant of merchants"
            routerLink="/frontend/home/merchant/{{ merchant.id }}"
          >
            <td class="dtr-control sorting_1" tabindex="0">
              {{ merchant.id }}
            </td>
            <td class="dtr-control sorting_1" tabindex="0">
              {{ merchant.enName }}
            </td>
            <td>{{ merchant?.pos?.title || 'not set yet' }}</td>
            <td>to be set</td>
            <td>{{ merchant?.createdAt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
