<nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
    <li class="nav-item" *ngFor="let posBranch of posBranches">
      <a class="nav-link active">
        <p>
          Name: {{ posBranch?.Name || posBranch?.name_en }} Address:
          {{ posBranch?.Address || 'not set' }} City:
          {{ posBranch?.City?.Name || posBranch?.name_ar }}
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li
          class="nav-item"
          *ngFor="let posDevice of posDevices"
          (click)="
            integrate(
              posBranch?.LocationKey || merchantId + '_' + posBranch.id,
              posDevice.DeviceID || +posDevice.id,
              posDevice.DeviceName || posDevice.name_en
            )
          "
        >
          <a class="nav-link" routerLinkActive="active-link">
            <i class="far fa-circle nav-icon"></i>
            <p>{{ posDevice?.DeviceName || posDevice?.name_en }}</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
