<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Add Merchant</h3>
  </div>
  <form #addMerchant="ngForm" (ngSubmit)="submit(addMerchant)">
    <div class="card-body">
      <div class="form-group">
        <label for="name_ar">Arabic Name</label>
        <input
          type="text"
          class="form-control"
          id="name_ar"
          name="name_ar"
          placeholder="Enter Merchant Arabic Name"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="name">English Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter Merchant English Name"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="description">English Slogan</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="Enter Merchant English Slogan"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="description_ar">Arabic Slogan</label>
        <input
          type="text"
          class="form-control"
          id="description_ar"
          name="description_ar"
          placeholder="Enter Merchant Arabic Slogan"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="email">Account Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          email
          placeholder="Enter Merchant Account Email"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="brandKey">Brand Key</label>
        <input
          type="text"
          class="form-control"
          id="brandKey"
          name="brandKey"
          placeholder="Enter Merchant Brand Key "
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="imageUrl">Logo</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="imageUrl"
              name="imageUrl"
            />
            <label class="custom-file-label" for="imageUrl">Choose file</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pos">Pos</label>
        <input
          type="number"
          class="form-control"
          id="pos"
          name="pos"
          placeholder="Enter Merchant pos"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input
          type="number"
          class="form-control"
          id="category"
          name="category"
          placeholder="Enter Merchant category"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="pos">password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter Merchant password"
          ngModel
        />
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
