<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Add Merchant</h3>
  </div>
  <form #addMerchant="ngForm" (ngSubmit)="submit(addMerchant)">
    <div class="card-body">
      <div class="form-group">
        <label for="arName">Arabic Name</label>
        <input
          type="text"
          class="form-control"
          id="arName"
          name="arName"
          placeholder="Enter Merchant Arabic Name"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="enName">English Name</label>
        <input
          type="text"
          class="form-control"
          id="enName"
          name="enName"
          placeholder="Enter Merchant English Name"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="enSlogan">English Slogan</label>
        <input
          type="text"
          class="form-control"
          id="enSlogan"
          name="enSlogan"
          placeholder="Enter Merchant English Slogan"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="arSlogan">Arabic Slogan</label>
        <input
          type="text"
          class="form-control"
          id="arSlogan"
          name="arSlogan"
          placeholder="Enter Merchant Arabic Slogan"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="accountEmail">Account Email</label>
        <input
          type="text"
          class="form-control"
          id="accountEmail"
          name="accountEmail"
          email
          placeholder="Enter Merchant Account Email"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="brandKey">Brand Key</label>
        <input
          type="text"
          class="form-control"
          id="brandKey"
          name="brandKey"
          placeholder="Enter Merchant Brand Key "
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="logo">Logo</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="logo"
              name="logo"
            />
            <label class="custom-file-label" for="logo">Choose file</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pos">Pos</label>
        <input
          type="text"
          class="form-control"
          id="pos"
          name="pos"
          placeholder="Enter Merchant pos"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input
          type="text"
          class="form-control"
          id="category"
          name="category"
          placeholder="Enter Merchant category"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="pos">password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter Merchant password"
          ngModel
        />
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
