<div class="modal-header">
  <h3 class="modal-title">Add Merchant</h3>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form #addMerchant="ngForm">
    <div class="row">
      <h5>Merchant Information</h5>
      <div class="form-group col-6">
        <label>Merchant Name Ar</label>
        <input
          type="text"
          class="form-control"
          name="arName"
          placeholder="Enter Merchant Arabic Name"
          ngModel
          required
        />
      </div>
      <div class="form-group col-6">
        <label>Merchant Name En</label>
        <input
          type="text"
          class="form-control"
          name="enName"
          placeholder="Enter Merchant English Name"
          ngModel
          required
        />
      </div>
      <div class="form-group col-6">
        <label>Merchant Slogan En</label>
        <input
          type="text"
          class="form-control"
          name="enDescription"
          placeholder="Enter Merchant English Slogan"
          ngModel
          required
        />
      </div>
      <div class="form-group col-6">
        <label>Merchant Slogan Ar</label>
        <input
          type="text"
          class="form-control"
          name="arDescription"
          placeholder="Enter Merchant Arabic Slogan"
          ngModel
          required
        />
      </div>
      <div class="form-group col-6">
        <div class="form-group">
          <label>Merchant Category</label>
          <select
            class="custom-select"
            [ngModel]="category.value"
            name="category"
            #category="ngModel"
            required
          >
            <option *ngFor="let category of categories" [ngValue]="category">
              {{ category.enTitle }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group col-6">
        <label>Merchant Logo</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              (change)="selectFile($event)"
            />
            <label class="custom-file-label">Choose file</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
      <div class="form-group col-6">
        <label>Account Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          email
          placeholder="Enter Merchant Account Email"
          ngModel
          required
        />
      </div>
      <div class="form-group col-6">
        <label>Account Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Enter Merchant password"
          ngModel
          required
        />
      </div>
      <div class="form-group col-6">
        <label>Phone Number</label>
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          placeholder="Enter Merchant Phone number"
          ngModel
          required
        />
      </div>
    </div>
    <div class="row">
      <h5>Merchant Integration</h5>
      <div class="form-group col-6">
        <div class="form-group">
          <label>Pos</label>
          <select
            class="custom-select"
            [ngModel]="pos.value"
            name="pos"
            #pos="ngModel"
            required
          >
            <option *ngFor="let pos of poses" [ngValue]="pos">
              {{ pos.title }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group col-6" *ngIf="pos.value?.title === 'Marn'">
        <label>Brand Key</label>
        <input
          type="text"
          class="form-control"
          name="brandKey"
          placeholder="Enter Merchant Brand Key "
          ngModel
          required
        />
      </div>
      <div class="form-group col-6" *ngIf="pos.value?.title === 'Ratm'">
        <label>Integration Id</label>
        <button type="button" class="form-control">integration id</button>
      </div>
      <div class="form-group col-6" *ngIf="pos.value?.title === 'Ratm'">
        <label>Access Token</label>
        <input
          type="text"
          class="form-control"
          name="brandKey"
          placeholder="Enter Merchant Brand Key "
          ngModel
          required
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary col-3" (click)="submit(addMerchant)">
    Save
  </button>
  <button
    type="button"
    class="btn btn-default col-3"
    data-dismiss="modal"
    (click)="activeModal.dismiss('Cross click')"
  >
    Close
  </button>
  <div class="row">
    <button
      type="button"
      class="btn btn-danger toastsDefaultDanger col-3"
      *ngIf="
        addMerchant.submitted &&
        addMerchant.invalid &&
        (addMerchant.dirty || addMerchant.touched)
      "
    >
      please enter all fields correctly
    </button>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
